<!DOCTYPE html>
{% load static i18n %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Basquete Tocantins</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'css/Article-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Article-Dual-Column.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Projects-Horizontal.css' %}">
    <link rel="stylesheet" href="{% static 'css/Site.css' %}">
    <link rel="stylesheet" href="{% static 'css/Swipe-Slider-9.css' %}">
    <link rel="stylesheet" href="{% static 'css/Team-Clean.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="{% url 'core:home' %}" style="color: #ff9600;font-size: 10pt;"><img src="{% static 'img/Logo-FTB.png' %}" width="150px">federação tocantinense de basketball</a><button data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto nav-item-ftb">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'core:home' %}" style="color: #ff9600;font-size: 10pt;">Início</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'core:federacao' %}" style="color: #ff9600;font-size: 10pt;">A Federação</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'core:noticias' %}" style="color: #ff9600;font-size: 10pt;">notícias</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'core:eventos' %}" style="color: #ff9600;font-size: 10pt;">eventos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" style="color: #ff9600;font-size: 10pt;" href="{% url 'core:contato' %}">contato</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#filiados" style="color: #ff9600;font-size: 10pt;">filiados</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'core:estatuto' %}" style="color: #ff9600;font-size: 10pt;">Estatuto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item"></div>
                    <div class="col-sm-6 col-md-3 item"></div>
                    <div class="col-md-6 item text"></div>
                    <div class="col item social"><a href="https://www.facebook.com/basquetetocantins/" target="_blank"><i class="icon ion-social-facebook"></i></a><a href="https://instagram.com/basquetetocantins?igshid=1bvehyuftyj57" target="_blank"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Criado por RBA Tech ltda© 2019<a class="link-restrito" href="/admin" style="color: #ff9600;">Acesso Restrito</a></p>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'js/creative.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static 'js/Simple-Slider.js' %}"></script>
    <script src="{% static 'js/Swipe-Slider-9.js' %}"></script>
</body>

</html>
