{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="projects-horizontal">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Competições</h2>
      </div>
      <div class="row projects">
        <div class="col col-12 item">
          <div class="row">
            <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="{% static 'img/baner-1.jpg' %}"></a></div>
            <div class="col">
              <h3 class="name">Nome da Competição</h3>
              <p class="description">Descriçãoda competição</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row projects">
        <div class="col col-12 item">
          <div class="row">
            <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="{% static 'img/baner-3.jpg' %}"></a></div>
            <div class="col">
              <h3 class="name"><strong>Nome da Competição</strong><br></h3>
              <p class="description">Descriçãoda competição<br></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row projects">
        <div class="col col-12 item">
          <div class="row">
            <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="{% static 'img/baner-2.jpg' %}"></a></div>
            <div class="col">
              <h3 class="name"><strong>Nome da Competição</strong><br></h3>
              <p class="description">Descriçãoda competição<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
