{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="noticias-eventos">
    <div class="container">
      <div class="row">
        {% if cursos.count > 0 %}
          <div class="col-md-6 noticia-evento">
            <h2 class="text-center section-heading">Cursos</h2>
            <hr class="my-4">
            {% for curso in cursos %}
              <a href="{% url 'core:evento_detalhes' curso.pk %}">
                <div class="text-center mx-auto service-box mt-5">
                  {% if curso.imagem %}
                    <img class="img-noticia-evento" src="{{ curso.imagem.url }}" width="100%">
                  {% endif %}
                  <h3 class="mb-3">{{ curso.titulo }}</h3>
                  <p class="text-muted mb-0">{{ curso.descricao }}</p>
                </div>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <div class="col-md-6 noticia-evento">
            <h2 class="text-center section-heading">Cursos</h2>
            <hr class="my-4">

            <div class="alert alert-warning text-center" role="alert">
              <span class="text-center section-heading">Não existem cursos registrados</span>
            </div>
          </div>
        {% endif %}

        {% if competicoes.count > 0 %}
          <div class="col-md-6 noticia-evento">
            <h2 class="text-center section-heading">Competições</h2>
            <hr class="my-4">
            {% for competicao in competicoes %}
              <a href="{% url 'core:evento_detalhes' competicao.pk %}">
                <div class="text-center mx-auto service-box mt-5">
                  {% if competicao.imagem %}
                    <img class="img-noticia-evento" src="{{ competicao.imagem.url }}" width="100%">
                  {% endif %}
                  <h3 class="mb-3">{{ competicao.titulo }}</h3>
                  <p class="text-muted mb-0">{{ curso.competicao }}</p>
                </div>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <div class="col-md-6 noticia-evento">
            <h2 class="text-center section-heading">Competições</h2>
            <hr class="my-4">

            <div class="alert alert-warning text-center" role="alert">
              <span class="text-center section-heading">Não existem competições registradas</span>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
